.countdown {
  /*padding: 10px;*/
  height: 10px;
  display: block;
  background-color: red;
  animation-name: slide;
  animation-duration: 1s;
  color: white;
  border-radius: 5px;

}

.try {
  width: 100%;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}

.well {
  width: 400px;
  margin-top: 40px;
}
.fa {
  font-size: 0.5em;
  float: right;
}

p {
  padding: 5px;
  font-size: 18px;
}

.border {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 2px;
  margin-top: 10px;
}

@keyframes slide {
    from {
      width: 0%;
      background-color: blue;
    }
    to {width: 100%;}
}
