body {
  background-image: url("../images/bgn-min.jpg");
  background-size: cover;
}

.countdown {
  /*padding: 10px;*/
  height: 10px;
  display: block;
  background-color: red;
  animation-name: slide;
  animation-duration: 1s;
  color: white;
  border-radius: 5px;
}

h1 {
  font-family: 'Averia Sans Libre';
  font-size: 3.5em;
}

.try {
  width: 100%;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}

.well {
  background-color: rgba(245, 245, 245, 0.9);
  width: 400px;
  margin-top: 40px;
  padding: 0px 19px 19px 19px;
}

.fa {
  font-size: 0.5em;
  float: right;
}

p {
  padding: 5px;
  font-size: 2em;
}

.border {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 2px;
  margin-top: 10px;
}

@keyframes slide {
    from {
      width: 0%;
      background-color: blue;
    }
    to {width: 100%;}
}
